$popper-yellow: #FFC107;
$small-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);

.popper,
.tooltip {
    position: absolute;
    background: $popper-yellow;
    color: black;
    border-radius: 0;
    padding: 0;
    text-align: center;
    pointer-events: all;
}

.tooltip {
    background: white;
}

.form-group ~ .popper,
.form-section .popper,
.naziv .popper,
.tab-pane .popper,
.form-group ~ .tooltip,
.form-section .tooltip,
.naziv .tooltip,
.tab-pane .tooltip {
    z-index: 2;
    padding: 0;
}



.popper {
    max-width: 350px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px;
    z-index: 3;
}

.form-group {

    .tooltip-symbol {
        position: absolute;
        top: 19%;
        font-size: .8em;
        font-weight: 400;
        line-height: 1;
        color: #939BA2;
        //overflow: hidden;
        > div {
            width: 350px;
            display: inline-block;
            position: absolute;
            left: 0;
        }

        .tooltip {
            opacity: 0;
            padding: 15px;
            //display: none;
            transition: none;
            pointer-events: none;
            z-index: 3;
            box-shadow: $small-box-shadow;
            border: 1px solid #ddd;
        }

        &:hover {
            //overflow: unset;
            .tooltip {
                opacity: 1;
                transition: opacity 0s .25s;
                pointer-events: unset;
                //display: unset;
            }
        }
    }
}


.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    // margin: 5px;
}

.popper__arrow {
    display: none;
}

.field-validation-error ~ .popper__arrow,
.help-message ~ .popper__arrow {
    display: unset;
}

.field-validation-error {
    margin: 7px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    font-size: .9rem;
}

.help-message {
    line-height: 1.5;
    font-size: .8rem;
}

.popper .popper__arrow {
    border-color: #FFC107;
}

.tooltip .tooltip-arrow {
    border-color: white;
}

.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.popper[x-placement^="top"] .popper__arrow,
.popper[data-popper-placement^='top'] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[data-popper-placement^='bottom'] .popper__arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}

.popper[x-placement^="right"] .popper__arrow,
.popper[data-popper-placement^='right'] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.popper[x-placement^="left"] .popper__arrow,
.popper[data-popper-placement^='left'] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}


.popper[data-popper-placement^='bottom'] {
    margin-top: 5px !important;
}

.col-1 ~ .tooltip-symbol {
    left: calc(100% * 1 / 12 - 13px);
}

.col-2 ~ .tooltip-symbol {
    left: calc(100% * 2 / 12 - 13px);
}

.col-3 ~ .tooltip-symbol {
    left: calc(100% * 3 / 12 - 13px);
}

.col-4 ~ .tooltip-symbol {
    left: calc(100% * 4 / 12 - 13px);
}

.col-5 ~ .tooltip-symbol {
    left: calc(100% * 5 / 12 - 13px);
}

.col-6 ~ .tooltip-symbol {
    left: calc(100% * 6 / 12 - 13px);
}

.col-7 ~ .tooltip-symbol {
    left: calc(100% * 7 / 12 - 13px);
}

.col-8 ~ .tooltip-symbol {
    left: calc(100% * 8 / 12 - 13px);
}

.col-9 ~ .tooltip-symbol {
    left: calc(100% * 9 / 12 - 13px);
}

.col-10 ~ .tooltip-symbol {
    left: calc(100% * 10 / 12 - 13px);
}

.col-11 ~ .tooltip-symbol {
    left: calc(100% * 11 / 12 - 13px);
}

.col-12 ~ .tooltip-symbol {
    left: calc(100% - 13px);
}
